relations contains info if {
	info := snyk.relation_from_fields(
		"{{.Name}}",
		{"{{.LeftResourceType}}": [{{range .LeftAttributes}}"{{.}}",{{end}}]},
		{"{{.RightResourceType}}": [{{range .RightAttributes}}"{{.}}",{{end}}]},
	)
}
