package rules.{{.RulePackage}}

input_type := "{{.InputType}}"

resource_type := "{{.ResourceType}}"

metadata := {{.RuleMetadata}}

deny[info] {
    # TODO: add conditions so that this rule only returns when input is invalid. For example:
    # input.some_property == "bad value"
	info := {
        "resource": input,
    }
}
